export basepath=$(pwd)
export db_name=$(vault read -field=dbname secret/legend/sql/legend-live)
export db_host=$(vault read -field=host secret/legend/sql/legend-live)
export db_password=$(vault read -field=password secret/legend/sql/legend-live)
export db_port=$(vault read -field=port secret/legend/sql/legend-live)
export db_user=$(vault read -field=user secret/legend/sql/legend-live)


export AWS_ACCESS_KEY_ID=$(vault read -field=access_key secret/legend/aws/core)
export AWS_SECRET_ACCESS_KEY=$(vault read -field=secret_key secret/legend/aws/core)


