export basepath=$(pwd)
export db_name=$(vault read -field=dbname secret/legend/sql/monitoring-live)
export db_host=$(vault read -field=host secret/legend/sql/monitoring-live)
export db_password=$(vault read -field=password secret/legend/sql/monitoring-live)
export db_port=$(vault read -field=port secret/legend/sql/monitoring-live)
export db_user=$(vault read -field=user secret/legend/sql/monitoring-live)


