[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
xgboost = "*"
tensorflow = "*"
scipy = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
